.container {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-checkout {
    background-color: rgb(243, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox {
    display: flex;
}

.checkbox p {
    margin-left: 3px;
}

.checkout {
    display: flex;
    align-items: center;
    width: 230px;
    height: 42px;
}

.checkout-text :nth-child(2) {
    font-size: 17px;
    color: rgb(201, 153, 31);
    font-weight: bold;
    margin-left: 5px;
}

.checkout-text {
    display: flex;
    width: 100%;
}

.checkout button {
    background-color: rgb(201, 153, 31);
}